legend, label, .btn {
    text-transform: capitalize;
}
.container { 
    margin: 10em auto 0; 
} 
.control-group label.control-label.required  {
    width: 7em; 
} 
.control-group div.controls { 
    margin-left: 10em; 
    margin-right: 1.4em; 
} 

.btn { 
    margin-right: 1.4em; 
} 
.help-inline { 
    margin-top: .5em; 
}
.required span {
    display: none;
}
.row fieldset {
    border: 1px solid #000;
    padding: 0 .2em;
}
.row legend {
    width: auto;
    border-bottom: none;
    margin: 0 1em;
    padding: 0 .5em;
}