legend {
	margin: 0 .5em; 
    padding: 0 .5em; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.container {
    margin: 1em auto; 
}
.wrap {
	border: 1px solid #ddd;
} 
.head {
	padding: 8px 4px 0;
}
.head li {
	display: inline-block;
}
.required span {
    display: none;
}
.row fieldset {
    border: 1px solid #ddd;
    padding: 0 .2em;
}
.row legend {
    width: auto;
    border-bottom: none;
    margin: 0 1em;
    padding: 0 .5em;
}
legend, label, .btn {
    text-transform: capitalize;
}
legend span {
    text-transform: lowercase;
}
.controls .span3  label {
    display: none;
 }
.span3 button.btn, input[type="submit"].btn {
    margin: .7em 0;
}
.form-horizontal .control-label {
    text-align: left;
    margin-left: 2.2em;
}
#horizontalForm .radio label {
    margin-left: 3em;
    
}
#horizontalForm input[type="radio"] {
    margin-left: 1em;
}
.table-bordered th, .table-bordered td {
    text-align: center;
}