legend {
	margin: 0 .5em; 
    padding: 0 .5em; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.wrap {
	border: 1px solid #ddd;
} 
.head {
	padding: 8px 4px 0;
}
.head li {
	display: inline-block;
}
.ui-datepicker-trigger{
    cursor: pointer;
    margin-left: 10px;
}
.required span {
    display: none;
}
.row fieldset {
    border: 1px solid #ddd;
    padding: 0 .2em;
}
.row legend {
    width: auto;
    border-bottom: none;
    margin: 0 1em;
    padding: 0 .5em;
}
legend, label, .btn {
    text-transform: capitalize;
}
legend span {
    text-transform: lowercase;
}
.controls .span3  label {
    display: none;
 }
.span3 button.btn, input[type="submit"].btn, input[type="reset"].btn  {
    margin: .7em 0 .7em 3em;
}
.form-horizontal .control-label {
    text-align: left;
    margin-left: 2.2em;
}
#horizontalForm .radio label {
    margin-left: 3em;
    
}
#horizontalForm input[type="radio"] {
    margin-left: 1em;
}
.table-bordered th, .table-bordered td {
    text-align: center;
}
.text-order{
    margin: 5px 0 0 ;
}
.order-buttons{
    float: right;
}

/*admin start*/
span#search-result-count{
    color:rgb(0, 85, 128);
    font-style:italic;
    text-decoration:underline;
}

div.admin-form fieldset {
    padding-right:.7em;    
}
div.admin-form input, div.admin-form select {
    padding-rigth:0;
    margin:0;
    float:right;
    width:100%;
}
div.admin-form button[type="submit"].btn {
    margin: .7em 0;
    clear:both;
}
/*admin end*/
header{
    position: relative;
}
.user_info{
    cursor: pointer;
    display: inline-block;
    padding-bottom: 8px;
}
.info{
    position: absolute;
    top: 30px;
    left: 0;
    border:1px solid #ccc;
    width: 300px;
    background: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: default;

}
.info_body{
    padding: 10px;
}
.info-head{
    background: linear-gradient(#f5f5f5,#fcfcfc);
    padding-left: 10px;
    height: 25px;
    border-bottom: 1px dashed #ccc;
}
.info_footer{
   background: linear-gradient(#fcfcfc,#e8e8e8 );
    height: 20px;
    position: relative;
    bottom: 0;
}
.visible{
    display: block;
}
.not_visible{
    display: none;
}
