legend, label, button {
	text-transform: capitalize;
}
fieldset {
	border: 1px solid #74B9EF;
}
legend {
	width: auto;
	margin: 0 15px;
	padding: 0 15px;
	border: 0;
}
button {
	margin-left: 75px;
}
label {
	padding-left: 30px;	
}
.row6 {
	margin-top: 30px;
}
.required {
	float: left;
}
.container {
	width: 600px;
	margin-top: 50px;
}
.checkbox {
	display: inline-block;
}
.required span {
	display: none;
}
