<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
    <testsuites>
        <testsuite name="Main">
            <file>functional/SiteLoginTest.php</file>
            <file>functional/SiteAlreadyTest.php</file>
            <file>functional/SiteLogoutTest.php</file>
            <file>functional/SiteReloginTest.php</file>
        </testsuite>
        <testsuite name="Deny">
            <file>functional/SiteDenyTest.php</file>
        </testsuite>
    </testsuites>
	<selenium>
		<browser name="Firefox" browser="*firefox" />
	</selenium>

</phpunit>